{% extends "broker/core.html" %}

{% block additional_styles %}
<style>
  tr.team{
    cursor: pointer;
  }
</style>
{% endblock %}

{% block title %}<h3><i class="icon-money"></i>Minha Carteira</h3>{% endblock %}
{% block subtitle %}<h5>Resumo de suas posições e recursos disponíveis</h5>{% endblock %}

{% block content %}

    <div class="row">

      <!-- box1 -->
      <div class="col-sm-6">
        <div class="box">
          <div class="box-header">
            <span class="title">Meus Investimentos</span>
          </div>
          <div class="box-content">
            <table class="table table-normal">
              <thead>
                <tr>
                  <td class="text-center">Papel</td>
                  <td class="text-center">Preço</td>
                  <td class="text-center">Quantidade</td>
                  <td class="text-right">Valor Atual</td>
                  <td class="text-right">Oscilação</td>
                </tr>
              </thead>

              <tbody name="myStocks">
                    <!-- stocks table -->
              </tbody>
            </table>
          </div>
          <div class="table-footer">
            <div class="row">
              <div class="col-sm-8 text-left"><h4>Total Investido</h4></div>
              <div class="col-sm-4 text-right"><h4><span name="stocksTotal" class="label label-blue" style="white-space: nowrap; font-size: 0.8em"></span></h4></div>
            </div>
          </div>
        </div>
      </div>
      <!-- /box1 -->
      
      <!-- box2 -->
      <div class="col-sm-6">
        <div class="box">
          <div class="box-header">
            <span class="title">Resumo Financeiro</span>
          </div>
          <div class="box-content">
            <table class="table table-normal">
              <thead>
                <tr>
                  <td style="text-align: left">Origem</td>
                  <td style="text-align: right">Valor</td>
                </tr>
              </thead>

              <tbody name="myFinance">
                <tr>
                  <td>Capital Investido</td>
                  <td class="text-right" name="stocksTotal"></td>
                </tr>
                <tr>
                  <td>Saldo Disponível</td>
                  <td class="text-right" name="available">{{ user.saldo | floatformat:2 }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="table-footer">
            <div class="row">
              <div class="col-sm-8 text-left"><h4>Total Geral</h4></div>
              <div class="col-sm-4 text-right"><h4><span class="label label-blue" name="total" style="font-size: 0.8em">{{ user.saldo | floatformat:2 }}</span></h4></div>
            </div>
          </div>
        </div>
      </div>
      <!-- /box2 -->
    </div>
    <!-- /row1 -->

    <!-- row2 -->
    <div class="row">
      <div class="col-sm-12">
        <!-- box3 -->
        <div class="box">
          <div class="box-header"><span class="title">Evolução da Carteira</span></div>
          <div class="box-content padded">
            <div class="row separate-sections">

              <div class="col-md-4">
                <div class="spark-pie"></div>
              </div>

              <div class="col-md-4">
                <div class="spark-composite"></div>
              </div>

              <div class="col-md-2 separate-sections text-center">
                <div class="sparkline big"><!--19,8,10,24,14,24,23,20,9,5,10,12--></div>
                <div class="sparkline big" data-color="blue"><!--6,13,25,29,9,19,26,13,24,28,20,29--></div>
                <div class="sparkline big" data-color="orange"><!--10,6,17,26,27,26,19,3,11,6,5,11--></div>
                <div class="sparkline big" data-color="green"><!--6,21,27,16,17,9,22,28,17,21,10,9--></div>
              </div>
            </div>

          </div>
        </div>
        <!-- /box3 -->
    </div>
    <!-- row2 -->
  </div>
{% endblock %} 

{% block scripts %}
  <script type="text/javascript" src="/static/profile.js"></script>
  <script type="text/javascript" src="/static/accounting.min.js"></script> 
{% endblock %}
