<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />

  <title>Broker</title>
</head>
<body>
  <div class="container">
    <div class="col-md-12">
      <nav class="navbar navbar-inverse" role="navigation">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="#">Project name</a>
	</div>
	<div class="collapse navbar-collapse">
	  <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
	  </ul>
	</div><!-- /.nav-collapse -->
      </nav>
    </div>
  </div><!-- /.container -->
  
  <div class="container">
    <div class="col-xs-12 col-sm-12">
      <p class="pull-right visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
      </p>
      <div class="jumbotron">
        <h1>Copa Broker</h1>
        <p>Compre e venda as chances de seu time ganhar.</p>
      </div>
      <div class="row">
        <div class="col-6 col-sm-6 col-lg-4">
          <h2>Grupo A</h2>
	  <table class="table table-striped">
            <thead>
              <tr>
		<th>#</th>
		<th>Seleção</th>
		<th class="text-right">Preço</th>
              </tr>
            </thead>
            <tbody>
              <tr>
		<td>1</td>
		<td>Brasil</td>
		<td class="text-right">22.50</td>
              </tr>
              <tr>
		<td>2</td>
		<td>Portugal</td>
		<td class="text-right">15.20</td>
              </tr>
              <tr>
		<td>3</td>
		<td>Coréia do Norte</td>
		<td class="text-right">2.56</td>
              </tr>
              <tr>
		<td>4</td>
		<td>Costa do Marfim</td>
		<td class="text-right">3.20</td>
              </tr>
            </tbody>
	  </table>
        </div><!--/span-->
        <div class="col-6 col-sm-6 col-lg-4">
          <h2>Grupo B</h2>
	  <table class="table table-striped">
            <thead>
              <tr>
		<th>#</th>
		<th>Seleção</th>
		<th class="text-right">Preço</th>
              </tr>
            </thead>
            <tbody>
              <tr>
		<td>1</td>
		<td>Brasil</td>
		<td class="text-right">22.50</td>
              </tr>
              <tr>
		<td>2</td>
		<td>Portugal</td>
		<td class="text-right">15.20</td>
              </tr>
              <tr>
		<td>3</td>
		<td>Coréia do Norte</td>
		<td class="text-right">2.56</td>
              </tr>
              <tr>
		<td>4</td>
		<td>Costa do Marfim</td>
		<td class="text-right">3.20</td>
              </tr>
            </tbody>
	  </table>
        </div><!--/span-->
        <div class="col-6 col-sm-6 col-lg-4">
          <h2>Grupo C</h2>
	  <table class="table table-striped">
            <thead>
              <tr>
		<th>#</th>
		<th>Seleção</th>
		<th class="text-right">Preço</th>
              </tr>
            </thead>
            <tbody>
              <tr>
		<td>1</td>
		<td>Brasil</td>
		<td class="text-right">22.50</td>
              </tr>
              <tr>
		<td>2</td>
		<td>Portugal</td>
		<td class="text-right">15.20</td>
              </tr>
              <tr>
		<td>3</td>
		<td>Coréia do Norte</td>
		<td class="text-right">2.56</td>
              </tr>
              <tr>
		<td>4</td>
		<td>Costa do Marfim</td>
		<td class="text-right">3.20</td>
              </tr>
            </tbody>
	  </table>
        </div><!--/span-->
        <div class="col-6 col-sm-6 col-lg-4">
          <h2>Grupo D</h2>
	  <table class="table table-striped">
            <thead>
              <tr>
		<th>#</th>
		<th>Seleção</th>
		<th class="text-right">Preço</th>
              </tr>
            </thead>
            <tbody>
              <tr>
		<td>1</td>
		<td>Brasil</td>
		<td class="text-right">22.50</td>
              </tr>
              <tr>
		<td>2</td>
		<td>Portugal</td>
		<td class="text-right">15.20</td>
              </tr>
              <tr>
		<td>3</td>
		<td>Coréia do Norte</td>
		<td class="text-right">2.56</td>
              </tr>
              <tr>
		<td>4</td>
		<td>Costa do Marfim</td>
		<td class="text-right">3.20</td>
              </tr>
            </tbody>
	  </table>
        </div><!--/span-->        <div class="col-6 col-sm-6 col-lg-4">
          <h2>Grupo E</h2>
	  <table class="table table-striped">
            <thead>
              <tr>
		<th>#</th>
		<th>Seleção</th>
		<th class="text-right">Preço</th>
              </tr>
            </thead>
            <tbody>
              <tr>
		<td>1</td>
		<td>Brasil</td>
		<td class="text-right">22.50</td>
              </tr>
              <tr>
		<td>2</td>
		<td>Portugal</td>
		<td class="text-right">15.20</td>
              </tr>
              <tr>
		<td>3</td>
		<td>Coréia do Norte</td>
		<td class="text-right">2.56</td>
              </tr>
              <tr>
		<td>4</td>
		<td>Costa do Marfim</td>
		<td class="text-right">3.20</td>
              </tr>
            </tbody>
	  </table>
        </div><!--/span-->
        <div class="col-6 col-sm-6 col-lg-4">
          <h2>Grupo F</h2>
	  <table class="table table-striped">
            <thead>
              <tr>
		<th>#</th>
		<th>Seleção</th>
		<th class="text-right">Preço</th>
              </tr>
            </thead>
            <tbody>
              <tr>
		<td>1</td>
		<td>Brasil</td>
		<td class="text-right">22.50</td>
              </tr>
              <tr>
		<td>2</td>
		<td>Portugal</td>
		<td class="text-right">15.20</td>
              </tr>
              <tr>
		<td>3</td>
		<td>Coréia do Norte</td>
		<td class="text-right">2.56</td>
              </tr>
              <tr>
		<td>4</td>
		<td>Costa do Marfim</td>
		<td class="text-right">3.20</td>
              </tr>
            </tbody>
	  </table>
        </div><!--/span-->

      </div><!--/row-->
    </div><!-- -->
  </div><!-- container-->
      
      
    

  <script src="//code.jquery.com/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>

</html>
