{% extends "broker/base.html" %}

{% block title %} CopaBroker {% endblock %}

{% block content %}
<style type="text/css">td a{color: black; }</style>
<div class="container">
  <div class="col-xs-12 col-sm-12">
    <p class="pull-right visible-xs">
      <button type="button" class="btn btn-primary btn-xs"
        data-toggle="offcanvas">Toggle nav</button>
    </p>
    <div class="jumbotron"
      style="background-image: url('http://static4.depositphotos.com/1016204/341/i/950/depositphotos_3413733-Soccer-ball-standing-on-grass-field.jpg'); background-position: -50px -200px; color: #DDD; -moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); filter: FlipH; -ms-filter: 'FlipH';">
      <h1
        style="-moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); filter: FlipH; -ms-filter: 'FlipH';">Copa
        Broker</h1>
      <p
        style="-moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); filter: FlipH; -ms-filter: 'FlipH';">Compre
        e venda as chances de seu time ganhar.</p>
    </div>

		<div class="container">
			<h1 class="letterpress">Joao da Silva</h1>
			<hr>

			<div class="row">
				<div class="col-lg-10 col-xs-10">
					<div class="page-header">
						<a href="/users/bootstraptor" class="pull-right"><img
							class="img-circle"
							src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a>
						<h3>bootstraptor</h3>
					</div>

					<div class="row">
						<div class="col-lg-3 col-xs-3">
							<strong>Posição no Ranking: 12345</strong>
							<hr>
							<small>{% now "j \d\e F , Y" %}</small> <br> <br> <br>
							<br> <strong>Stats</strong>
							<hr>
							<table>
								<tbody>
									<tr>
										<td><small>Plys</small></td>
										<td><span class="badge">34</span></td>
									</tr>
									<tr>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td><small>Votes</small></td>
										<td><span class="badge badge-success">334</span></td>
									</tr>
									<tr>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td><small>Forks</small></td>
										<td><span class="badge">4</span></td>
									</tr>
									<tr>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td><small>Views</small></td>
										<td><span class="badge badge-info">5234</span></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="col-lg-5 col-lg-offset-1 col-xs-6">
							<table class="table table-striped">
								<thead>
									<tr>
										<th class="text-left">Seleção</th>
										<th class="text-center">Preço</th>
										<th class="text-center">Quantidade</th>
										<th class="text-right">Total</th>
									</tr>
								</thead>
								<tbody name="myStocks">
									{% for stock in stocks %}
									<tr name="team">
										<td name="name"><a href="book">{{ stock.name }}</a></td>
										<td name="price" class="text-right">{{ stock.price }}</td>
										<td name="quantity" class="text-center">{{ stock.qty }}</td>
										<td name="total" class="text-right"></td>
									</tr>
									{% endfor%}
									<style>tr.default{ background-color: #ddd;"}</style>
									<tr class="default">
										<td name="name" class="text-left"><strong>TOTAL: </strong></td>
										<td></td><td></td>
										<td name="totalSum" class="text-right"><strong></strong></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<div class="col-lg-2 col-xs-2">
					<div id="carbonads-container">
						<div class="carbonad">
							<img src="//placehold.it/150x200">
						</div>
					</div>
					<hr>

				</div>
			</div>
		</div>

  </div>
</div><!-- container-->

{% endblock %} 

{% block scripts %}
  <script type="text/javascript" src="/static/profile.js"></script>
  <script type="text/javascript" src="/static/accounting.min.js"></script> 
{% endblock %}
