{% extends "broker/base.html" %}

{% block title %} CopaBroker {% endblock %}

{% block head %}
  <div class="row">
    <div class="jumbotron" >
      <h1 style="">Minha Carteira</h1>
      <p style="">Confira seu desempenho no game.</p>
    </div>
  </div>
{% endblock %}

{% block content %}
<style type="text/css">td a{color: black; }</style>
		<h1 class="letterpress">{{ user.name }}</h1>
		<hr>
		

		<div class="row">
			
			<div class="col-xs-12 col-sm-12">
	      
				<div class="row">
					<div class="col-lg-3 col-xs-3">
		    		
		    		<!-- foto -->
		    		<div id="carbonads-container">
		    			<div class="carbonad">
		    				<img src="//placehold.it/150x200" />
		    			</div>
		    		</div>
				    <hr>
		    		<!-- /foto -->
		
		    		<!-- user stats -->
						<strong>Posição no Ranking: 12345</strong>
						<hr>
						<small>{% now "j \d\e F , Y" %}</small> <br> <br> <br>
						<br> <strong>Stats</strong>
						<hr>
						<table>
							<tbody>
								<tr>
									<td><small>Plys</small></td>
									<td><span class="badge"></span></td>
								</tr>
								<tr>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td><small>Votes</small></td>
									<td><span class="badge badge-success"></span></td>
								</tr>
								<tr>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td><small>Forks</small></td>
									<td><span class="badge"></span></td>
								</tr>
								<tr>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td><small>Views</small></td>
									<td><span class="badge badge-info">5234</span></td>
								</tr>
							</tbody>
						</table>
					</div>
	    		<!-- /user stats -->
	    		
	    		<!-- posicao -->
					<div class="col-sm-7 col-sm-offset-1">
            <div class="list-group">
              <a class="list-group-item active"><span class="badge" name="stocksTotal"></span>Total Aplicado</a>
                <table class="table table-striped">
							    <thead>
								    <tr>
									    <th class="text-left">Papel</th>
									    <th class="text-center">Preço</th>
									    <th class="text-center">Quantidade</th>
									    <th class="text-right">Valor Atual</th>
								    </tr>
							    </thead>
							    <tbody name="myStocks">
                  <!-- stocks table -->
							    </tbody>
						    </table>
              <a class="list-group-item"><span class="badge" name="available">{{ user.saldo | floatformat:2 }}</span>Total Disponível</a>
              <a class="list-group-item"><span class="badge" name="total"></span>Total</a>
            </div>
					</div>
				</div>
    		<!-- /posicao -->
				
			</div><!-- /row -->
		</div><!-- /row -->
{% endblock %} 

{% block scripts %}
  <script type="text/javascript" src="/static/profile.js"></script>
  <script type="text/javascript" src="/static/accounting.min.js"></script> 
{% endblock %}
